body {
    background-image: url('https://wallpapercave.com/wp/wp13015655.jpg ');  
    background-size: cover cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
